<html>
  <head>
    <style>
      @import url('/views/css/bar.css');
    </style>
  </head>
  <body>
    <div>
      <table class='bar'>
        <tr>
          <th><a href='/'>메인</a></th>
          <td><a href='/login'>로그인</a></td>
          <td><a href='/register'>회원가입</a></td>
          <td><a href='/game'>게임</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>